<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductsController</servlet-name>
        <servlet-class>Controller.DeleteProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadProduct</servlet-name>
        <servlet-class>Controller.ReadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>Controller.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>Controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFilterServlet</servlet-name>
        <servlet-class>Controller.ProductFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControl</servlet-name>
        <servlet-class>Controller.AddToCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayControl</servlet-name>
        <servlet-class>Controller.VNPayControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/ud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFilterServlet</servlet-name>
        <url-pattern>/productfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControl</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayControl</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadProduct</servlet-name>
        <url-pattern>/readproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductsController</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
